<p>Welcome (whoever you are).</p>
<p>We don't know who you are. And that's a good thing. The only piece of information that ties you to us is your mobile phone number. And we encrypt it. We actually don't know what your number is. We can't see it. We don't want to see it. That way hackers can't see it.</p>
<p>We encrypt everything you send us.</p>
<p>You turn your number, keys, and passwords into gobbly-gook so that nobody knows your secrets.</p>

<p>
  <b>Account Status:</b>
  <%= @user.active %>
</p>

<p>
  <b>Account Plan:</b>
  <%= @user.level %>
</p>
