<p>
	Store a key: <br/>
	key password
</p><br/>

<p>
	Delete a key: <br/>
	delete key
</p><br/>

<p>
	Change/Alter a key: <br/>
	key password
</p><br/>

<p>
	List all keys: <br/>
	all
</p><br/>

<p>
	Get more info/help: <br/>
	info
</p><br/>

<p>
	To access your account, visit: <br/>
	<a href="http://www.kaypalapp.com">http://www.keypalapp.com</a>
</p><br/>